<br>
<br>
<br>

<h1>Please Insert a New Marble</h1>

<form asp-controller="Marbles" asp-action="Post" method="Post">
    <input type="text" placeholder="Insert Color" name="color" autofocus=""></input>
    <button type="Submit">Sumbit</button>
</form>